
@{
    ViewBag.Title = "YeniDers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni Ders Ekleme Sayfası</h2>
<form method="post" class="form-group">

    <div class="form-group">
        <label for="drsAd">Ders Adı</label>
        <input type="text" class="form-control" name="DERSAD" value="" />
    </div>
    <button class="btn btn-info">Ders Ekle</button>
</form>

