
@{
    ViewBag.Title = "YeniKulup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni Kulüp Ekle</h2>
<form method="post" class="form-group">

    <div class="form-group">
        <label for="klpAd">Ders Adı</label>
        <input type="text" id="klpAd" class="form-control" name="KULUPAD" value="" />
    </div>
    <button class="btn btn-info">Kulüp Ekle</button>
</form>

